/*

==================== NATURETRAK

== TABLE OF CONTENTS (use Crtl + F to skip to the section you need)

1 Predefined Styles
2 Structure
3 Elements

*/

@import "flex";
@import "helpers";

// ==================== 1 Predefined Styles

.fluid-type(@property, @min-vw, @max-vw, @min-size, @max-size) {
	@{property}: @min-size;
	@media screen and (min-width: @min-vw) {
		@{property}: calc( @min-size ~" + " unit(@max-size - @min-size) ~" * ((100vw - " @min-vw ~") /" unit(@max-vw - @min-vw) ~")" );
	}
	@media screen and (min-width: @max-vw) {
		@{property}: @max-size;
	}
}
body {
	.fluid-type(font-size, 600px, 900px, 11px, 14px);
  color: @n3;
}

// primary
@p1: #e4d5e9;
@p2: #664a9e;
@p3: #584b80;
@p4: #4e4a68;

// complimentary
@c1: #9cab68;
@c2: #838d65;
@c3: #6b5464;

// tertiary
@t1: #c7bdcc;
@t2: #8c87a6;
@t3: #917ba3;

// neutrals
@n1: #c8d0ea;
@n2: #9597ae;
@n3: #71788e;
@n4: #5e6679;
@n5: #464d5a;

.caps {text-transform: uppercase;};

h2 {
  .caps;
  font-size: 3.2em;
  margin-bottom: 60px !important;
}

h1, h2, h3, h4, h5 {
  color: @p2;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.7px;
}

.lead {
  font-style: italic;
  font-size: 1.4em;
  color: @n2;
  font-family: 'Crimson Text', serif;
}


// ==================== 2 Structure

body {overflow-x: hidden;}

ul { list-style: circle; }

li { font-style: italic; }

hr {
  margin: 0.5rem 0 3.0rem;
  border-top: 0.1rem solid @n1;
}


.space30  {.h(30px);}
.space40  {.h(40px);}
.space50  {.h(50px);}
.space100 {.h(100px);}
.space150 {.h(150px);}

.w100 {width: 100%;}

section {
  margin-top: 100px;
}


// ==================== 3 Elements

// 0 px
@media (min-width: @screen-xs) {

  #intro {
    width: 100%;
    height: 100vh;
    max-height: 100vw;
    .relative;
  }

  .logo    {.w(70%);}
  .goodees {.w(80px);}
  .intro   {
    height: 100vh;
    max-height: 100vw;
    .w(100%);
  }

  #introInfo,
  #outroInfo {
    .flex;
    .flex-direction(column);
    .justify-content(center);
    .align-items(flex-end);
  }

  .vertical {
    .flex;
    .flex-direction(column);
    .justify-content(center);
    .h(100%);
  }
}
// mobile 480 px
@media (min-width: @screen-sm) {.make-space(@prefix: sm);}
// tablet 768px
@media (min-width: @screen-md) {.make-space(@prefix: md);}
// desktop 992px
@media (min-width: @screen-lg) {.make-space(@prefix: lg);}
// large screens 1600 px
@media (min-width: @screen-xl) {.make-space(@prefix: xl);}
